.root {
  background: #303035;
}

.button {
  width: 44px;
  height: 36px;
  background: rgba(25, 25, 31, 0.7);
  border: 1px solid #19191f;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.14),
    0px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerSection {
  width: 100%;
  height: 663px;
  padding: 21px 17px 21px 17px;
  border-radius: 15px;
  background: 19191f;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
  margin: auto;
}
.pHeading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  letter-spacing: 0.0041em;
  color: #d8d8d8;
  text-transform: uppercase;
}
.name {
  font-family: "Revalia";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 103%;
  /* or 27px */
  text-align: center;
  letter-spacing: 0.0041em;

  color: #d4b895;
}
.doBToDod {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  letter-spacing: 0.0041em;

  color: #d8d8d8;
}
.imageWrapper {
  width: 253px;
  height: 298px;
  /* margin-inline: auto; */
  border-radius: 126.5px;
  border: 3px solid #d4b895;
  position: relative;
  display: flex;
}
.flower {
}

.heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 103%;
  letter-spacing: 0.0041em;
  color: #ffffff;
  opacity: 0.5;
}
.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 103%;
  letter-spacing: 0.0041em;
  color: #ffffff;
  opacity: 0.5;
}
.landmark {
  font-family: "FONTSPRING DEMO - Quiche Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0.0041em;
  color: #d8d8d8;
}
.event {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 103%;
  letter-spacing: 0.0041em;
  color: #ffffff;
  opacity: 0.5;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}
.image {
  width: 100%;
  height: 100%;
  border-radius: 126.5px;
}
.link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 103%;
  /* identical to box height, or 19px */
  letter-spacing: 0.0041em;
  text-decoration-line: underline;
  color: #00ff96;
  opacity: 0.5;
  text-decoration: underline !important;
}
.notes {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.notesHeading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 103%;
  letter-spacing: 0.0041em;
  color: #ffffff;
  opacity: 0.5;
}
.notesParagraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 103%;
  letter-spacing: 0.0041em;
  color: #ffffff;
  opacity: 0.5;
}
.details {
  width: 100%;
  height: auto;
  padding-top: min(76px, 5vh);
  padding-bottom: min(76px, 5vh);
  padding-top: min(90px, 6vh);
  padding-left: min(170px, 10vw);
  padding-right: min(170px, 10vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  /* gap: min(132px, 10vw); */
  border-radius: 15px;
  background: #19191f;
  margin-bottom: 6vh;
}
.details .content {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: min(132px, 10vw);
}
.comment {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  font-size: 12px;
  line-height: 140%;
  /* or 17px */
  text-align: center;
  letter-spacing: 0.0041em;
  color: #b7b7b7;
  max-width: 332px;
}
@media only screen and (max-width: 895px) {
  .headerSection {
    /* width: 90vw; */
    padding: 1vh 1vw 2vh 1vw;
  }
  .headerSection > div {
    flex-direction: column;
    margin-top: 1vh;
  }
  .name {
    font-size: min(6vh, 48px);
  }
  .pHeading {
    /* font-size: min(2vh, 16px); */
  }
  .doBToDod {
    /* font-size: min(2vh, 16px); */
  }
  .imageWrapper {
    width: 50%;
    height: 40vh;
    aspect-ratio: 1;
  }
}
@media only screen and (max-width: 895px) and (orientation: landscape) {
  .headerSection > div {
    flex-direction: row;
    margin-top: 1vh;
    gap: 0;
  }
  .imageWrapper {
    width: 30%;
    height: 60vh;
    aspect-ratio: 1;
  }
}
@media only screen and (max-width: 520px) {
  .headerSection {
    /* width: 90vw; */
    padding: 2vh 1vw 2vh 1vw;
  }
  .imageWrapper {
    width: 80%;
    max-width: 60vw;
    height: 40vh;
    max-height: 300px;
    /* aspect-ratio: 1; */
  }
  .name {
    font-size: min(2.4vh, 48px);
  }
  .pHeading {
    font-size: min(2vh, 16px);
  }
  .doBToDod {
    font-size: min(2vh, 16px);
  }
}

@media only screen and (max-width: 520px) {
  .details .content {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: min(132px, 10vw);
  }
}
@media only screen and (max-width: 1280px) {
  .headerSection {
    height: auto;
  }
}
