.root {
  --color: black;
  --background-color: black;
  --width: 100%;
  --padding-x: 1rem;
  --padding-y: 1rem;
  --border-radius: 5px;
  --shadow-width: 1px;
  --shadow-color: red;
  --border-width: 1px;
  --border-color: red;
  position: relative;
  display: flex;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px rgba(0, 0, 0, 0.14),
    0px 0px 0px rgba(0, 0, 0, 0.2);
}

.fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 56px; */
  color: var(--color);
  border-radius: var(--border-radius);
  background: var(--background-color);
  /* background: red; */
  width: 100%;
  height: 100%;
  min-height: 3.5rem;
  border: var(--border-color) solid var(--border-width);
  padding: 1px;
  transition: all 100ms;
}
/* .outline:focus-within .calendar {
  display: flex !important;
}
.calendar {
  display: none !important;
} */
.fieldset input {
  background: red;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 90%;
}

.legend {
  margin-left: 0.5rem;
  visibility: var(--legend-visibility);
  max-width: var(--legend-dimension);
  max-height: var(--legend-dimension);
  /* font-size: 0.4rem; */
  line-height: 0.1rem;
  transition: all 100ms;
  font-size: var(--label-font);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.label {
  position: absolute;
  z-index: 3;
  left: 0;
  transform: translate(var(--translateX), var(--translateY));
  transform-origin: left top;
  transition: all 100ms;
  color: var(--label-color);
  font-size: var(--label-font);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.5rem;
}

.primary {
  --background-color: var(--clr-primary-500);
  --color: var(--clr-primary-300);
}

.secondary {
  --border-color: var(--clr-secondary-200);
  --color: var(--clr-grey-100);
  --label-color: rgba(0, 0, 0, 0.7);
  --label--not-active: rgba(0, 0, 0, 0.7);
  --active-color: var(--clr-primary-300);
  --placeholder-color: rgba(0, 0, 0, 0.5);
}

.dark {
  --background-color: inherit;
  --border-color: var(--clr-secondary-500);
  --color: var(--clr-secondary-100);
}

.dark:focus-within {
  --border-color: var(--clr-primary-300);
  --color: var(--clr-primary-300);
}

.dark:focus-within input {
  color: black;
}

.fill {
  --border-color: none;
}

.outline {
  --background-color: inherit;
  --label-color: var(--label-not-active-color, currentColor);
  --legend-visibility: hidden;
  --legend-dimension: 0;
  --translateX: 0.5rem;
  --translateY: 0%;
  --label-font: 1rem;
}

.label[data-filled="true"] {
  --translateY: -150%;
  --legend-dimension: 1000rem;
  --label-font: 0.75rem;
  /* display: unset;
  width: unset; */
  /* height: unset; */
}

.legend[data-filled="true"] {
  --legend-dimension: 1000rem;
  --label-font: 0.75rem;
}

.value {
  color: var(--label-color);
  font-size: var(--label-font);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 8px;
  gap: 0.5rem;
}

.default {
  --background-color: inherit;
}

.error {
  --label-color: var(--active-color) !important;
  --border-color: var(--active-color);
}
