.root {
  flex: 1 1 100%;
  position: relative;
  height: 100vh;
  padding-bottom: 1rem;
  transform-origin: bottom left;
  transform: scale(1);
  transition: all 500ms;
  overflow: hidden;
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  background: #f3e9ea;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
  /* background:# ; */
  height: 41px;
  transition: all 450ms;
}

.label {
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 140%;

  /* identical to box height, or 20px */
  letter-spacing: 0.0041em;

  color: #161616;
}

.toolbar .icons {
  display: flex;
  flex-direction: row;
  transition: all 450ms;
}

.toolbar .icons > button > svg {
  font-size: 0.5rem;
}

.frame {
  height: calc(100% - 41px);
  padding: 10px 0;
  transition: all 450ms;
}
