.root {
}

.inputRow {
  display: grid;
  grid-template-columns: 6fr 2fr 1fr;
  place-items: center;
  gap: 0 0.5rem;
}

.icon {
  font-size: 1.2rem;
  color: var(--clr-primary-300);
}

.input {
  --label-not-active-color: var(--clr-blue100);
  height: 100%;
  width: 100%;
}

.listArea {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
}

.fieldset {
  border: 0.0625rem solid #e1e8eb;
  filter: drop-shadow(0rem 0rem 0rem rgba(0, 0, 0, 0.12))
    drop-shadow(0rem 0rem 0rem rgba(0, 0, 0, 0.14))
    drop-shadow(0rem 0rem 0rem rgba(0, 0, 0, 0.2));
  border-radius: 0.25rem;
  width: fit-content !important;
  height: 27px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.dropdown {
  background: #ffffff;
  box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 1.25rem;
}

.dropdownItem {
  border-radius: 3px;
}

.dropdownItem:hover {
  background: #ededed;
}

.listArea .select {
  margin-left: auto;
  max-width: 100px;
  margin-right: 7px;
}

.listHeading {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
  /* identical to box height */
  letter-spacing: 0.0781rem;
  padding-left: 2rem;
  /* color: var(--clr-grey-400); */
  color: black;
  /* @apply hidden md:block; */
}

.listHeading::before {
  content: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 15H8.5C8.23486 14.9997 7.98066 14.8943 7.79319 14.7068C7.60571 14.5193 7.50026 14.2651 7.5 14V11.5H8.5V14H10V11.5H11V9.5C10.9999 9.36743 10.9471 9.24033 10.8534 9.14659C10.7597 9.05285 10.6326 9.00013 10.5 9H6.14L5.14 6H2C1.86743 6.00013 1.74033 6.05285 1.64659 6.14659C1.55285 6.24033 1.50013 6.36743 1.5 6.5V9.5H2.5V14H4.5V10.5H5.5V14C5.49974 14.2651 5.39429 14.5193 5.20681 14.7068C5.01934 14.8943 4.76514 14.9997 4.5 15H2.5C2.23486 14.9997 1.98066 14.8943 1.79319 14.7068C1.60571 14.5193 1.50026 14.2651 1.5 14V10.5C1.23486 10.4997 0.980665 10.3943 0.793186 10.2068C0.605707 10.0193 0.500265 9.76514 0.5 9.5V6.5C0.500397 6.1023 0.65856 5.721 0.939778 5.43978C1.221 5.15856 1.6023 5.0004 2 5H5.14C5.34985 4.99987 5.55442 5.06583 5.72468 5.18851C5.89493 5.3112 6.02222 5.48439 6.0885 5.6835L6.86 8H10.5C10.8977 8.0004 11.279 8.15856 11.5602 8.43978C11.8414 8.721 11.9996 9.1023 12 9.5V11.5C11.9997 11.7651 11.8943 12.0193 11.7068 12.2068C11.5193 12.3943 11.2651 12.4997 11 12.5V14C10.9997 14.2651 10.8943 14.5193 10.7068 14.7068C10.5193 14.8943 10.2651 14.9997 10 15ZM14 15H13V9.5H14.5V6.5C14.4999 6.36743 14.4471 6.24033 14.3534 6.14659C14.2597 6.05285 14.1326 6.00013 14 6H12V5H14C14.3977 5.0004 14.779 5.15856 15.0602 5.43978C15.3414 5.721 15.4996 6.1023 15.5 6.5V9.5C15.4997 9.76514 15.3943 10.0193 15.2068 10.2068C15.0193 10.3943 14.7651 10.4997 14.5 10.5H14V15ZM3.5 4.5C3.10444 4.5 2.71776 4.3827 2.38886 4.16294C2.05996 3.94318 1.80362 3.63082 1.65224 3.26537C1.50087 2.89992 1.46126 2.49778 1.53843 2.10982C1.6156 1.72186 1.80608 1.36549 2.08579 1.08579C2.36549 0.806082 2.72186 0.615601 3.10982 0.53843C3.49778 0.46126 3.89991 0.500867 4.26537 0.652242C4.63082 0.803617 4.94318 1.05996 5.16294 1.38886C5.3827 1.71776 5.5 2.10444 5.5 2.5C5.49934 3.03023 5.28841 3.53855 4.91348 3.91348C4.53855 4.28841 4.03023 4.49934 3.5 4.5ZM3.5 1.5C3.30222 1.5 3.10888 1.55865 2.94443 1.66853C2.77998 1.77841 2.65181 1.93459 2.57612 2.11732C2.50043 2.30004 2.48063 2.50111 2.51921 2.69509C2.5578 2.88907 2.65304 3.06726 2.79289 3.20711C2.93275 3.34696 3.11093 3.4422 3.30491 3.48079C3.49889 3.51937 3.69996 3.49957 3.88268 3.42388C4.06541 3.34819 4.22159 3.22002 4.33147 3.05557C4.44135 2.89112 4.5 2.69778 4.5 2.5C4.49974 2.23487 4.39429 1.98067 4.20681 1.79319C4.01934 1.60571 3.76514 1.50027 3.5 1.5ZM12.5 4.5C12.1044 4.5 11.7178 4.3827 11.3889 4.16294C11.06 3.94318 10.8036 3.63082 10.6522 3.26537C10.5009 2.89992 10.4613 2.49778 10.5384 2.10982C10.6156 1.72186 10.8061 1.36549 11.0858 1.08579C11.3655 0.806082 11.7219 0.615601 12.1098 0.53843C12.4978 0.46126 12.8999 0.500867 13.2654 0.652242C13.6308 0.803617 13.9432 1.05996 14.1629 1.38886C14.3827 1.71776 14.5 2.10444 14.5 2.5C14.4993 3.03023 14.2884 3.53855 13.9135 3.91348C13.5386 4.28841 13.0302 4.49934 12.5 4.5ZM12.5 1.5C12.3022 1.5 12.1089 1.55865 11.9444 1.66853C11.78 1.77841 11.6518 1.93459 11.5761 2.11732C11.5004 2.30004 11.4806 2.50111 11.5192 2.69509C11.5578 2.88907 11.653 3.06726 11.7929 3.20711C11.9327 3.34696 12.1109 3.4422 12.3049 3.48079C12.4989 3.51937 12.7 3.49957 12.8827 3.42388C13.0654 3.34819 13.2216 3.22002 13.3315 3.05557C13.4414 2.89112 13.5 2.69778 13.5 2.5C13.4997 2.23487 13.3943 1.98067 13.2068 1.79319C13.0193 1.60571 12.7651 1.50027 12.5 1.5Z' fill='%23B4B4B4'/%3E%3C/svg%3E");
  position: absolute;
  left: 0;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 0rem;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1.125rem;
  align-items: center;
}
.item .select {
  max-width: 100px;
  /* margin-left: auto; */
}
.item p {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.1875rem;
  letter-spacing: 0.0781rem;
  color: var(--clr-blue-100);
}

.item .select {
  width: 100%;
  height: 1.6875rem;
  font-size: 0.6875rem;
  line-height: 0.8125rem;
  /* identical to box height */
  letter-spacing: 0.0781rem;
  --padding-y: 0;
  color: var(--clr-grey-500);
}

@media only screen and (max-width: 800px) {
  .inputRow {
    grid-template-columns: 1fr;
    grid-auto-rows: 2.4094rem;
    gap: 1rem;
  }

  .inputRow .select {
    height: 2.4094rem;
  }

  .inputRow .button {
    margin-left: auto;
  }

  .inputRow .input {
  }
}
