.root {
    /* width: ; */
    width: 100%;
    padding: 4rem 0;
    flex: 1 1;
    border-radius: 10%;
    background: black;
    @apply flex flex-col items-center justify-center gap-4;
}

@media only screen and (max-width: 1024px) {
    .root {
        /* width: ; */
        aspect-ratio: 2;
    }
}

.root h5 {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: white;
    text-align: center;
}

.root h6 {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: white;
}

.root div {
}
